---
name: GitHub Pages

"on":
  push:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build_book:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          clean: false
      - name: Make all the books
        run: make doc
      - name: Fix permissions
        run: |
          chmod -c -R +rX './target/doc/' | \xargs -I {} echo "::warning title=Invalid file permissions automatically fixed::{}"
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './target/doc/'
  deploy_book:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'main' }}
    needs:
      - build_book
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
